<div class="container">
  <h2 class="heading">{{ userName }}</h2>
  <div class="content" *ngIf="articles$ | async as articles">
    <ng-container *ngIf="articles.length; else empty">
      <div class="cards">
        <app-item-card *ngFor="let article of articles" [card]="article">
        </app-item-card>
      </div>
    </ng-container>
    <ng-template #empty>
      <mat-card class="empty-card">
        <h3>まだ投稿がありません</h3>
        <p>投稿されるとここに表示されます</p>
      </mat-card>
    </ng-template>
  </div>
</div>
