<div class="container">
  <h2 class="heading">自分の投稿</h2>
  <ng-container *ngIf="articles.length">
    <div class="cards">
      <app-item-card *ngFor="let article of articles" [card]="article">
      </app-item-card>
    </div>
    <div
      infiniteScroll
      [infiniteScrollThrottle]="50"
      (scrolled)="getArticles()"
    ></div>
  </ng-container>
  <ng-container *ngIf="isComplete && !articles.length">
    <mat-card class="empty-card mat-elevation-z4">
      <h3>まだ投稿していません😩</h3>
      <p>投稿するとここに表示されます</p>
    </mat-card>
  </ng-container>
</div>
