@import '~@angular/material/theming';

.emptyCard {
  margin: 0 auto;
  height: 200px;
  margin-top: 100px;
  max-width: 300px;
  @include mat-elevation(4);
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #97adbd;
  color: #fafafa;
  opacity: 0.5;

  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
    margin-top: 20px;
  }
}
