@import '~@angular/material/theming';
@import 'mixins';

.header {
  height: 70px;
  position: fixed;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 100px 1fr 250px;
  z-index: 1000;
  top: 0;
  left: 0;
  @include mat-elevation(2);
  background-color: #fafafa;
  @include tab {
    padding-top: 5px;
    height: 130px;
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 60px 60px;
  }
  @include sp {
    grid-template-columns: 100px 200px;
  }
  p {
    display: flex;
    align-items: center;
  }
}
.logo {
  height: 58px;
  padding-top: 5px;
  @include tab {
    height: 50px;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
  }
}
.search {
  @include tab {
    width: 100%;
    grid-column: 1 / 3;
  }
  &__wrap {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    @include tab {
      max-width: 100%;
    }
  }
  &__input {
    width: 100%;
    height: 36px;
    padding: 0 42px 0 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 18px;
    letter-spacing: 0.01em;
    @include sp {
      font-size: 14px;
      padding-right: 38px;
    }
  }
  &__btn {
    position: absolute;
    cursor: pointer;
    top: 2px;
    right: 6px;
    outline: 0;
    background: 0 0;
    border: none;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #376c91;
    @include sp {
      top: 2px;
      right: 4px;
    }
  }
}
.loggedIn {
  margin-left: auto;
  @include tab {
    grid-row: 1 / 1;
    grid-column: 2 / 3;
  }
  .icons {
    display: inline-block;
    margin-right: 15px;
    @include sp {
      margin-right: 15px;
    }
    &__button {
      @include sp {
        min-width: 32px;
      }
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
    mat-icon {
      color: #b0b0b0;
      &#selected {
        color: #376c91;
      }
      &.stretched-icon::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: auto;
        content: '';
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
  .avatar {
    background: center/cover;
    box-shadow: none;
  }
}
.default {
  margin-left: auto;
  @include tab {
    font-size: 12px;
    grid-row: 1 / 1;
    grid-column: 2 / 3;
  }
}
