<mat-toolbar class="header" color="primary">
  <a routerLink="/article/create"
    ><img class="logo" src="/assets/images/logo.png" alt="リンク集メーカーMIRU"
  /></a>
  <div class="search">
    <div class="search__wrap">
      <input class="search__input" type="search" autocomplete="off" />
      <button class="search__btn" routerLink="/search">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  <div class="loggedIn" *ngIf="user$ | async as user; else default">
    <div class="icons">
      <a
        class="icons__button"
        mat-icon-button
        color="primary"
        routerLink="/article/create"
        routerLinkActive
        #create="routerLinkActive"
        matTooltip="記事の作成"
      >
        <mat-icon [class.active]="create.isActive" class="stretched-icon"
          >post_add</mat-icon
        >
      </a>
      <a
        class="icons__button"
        mat-icon-button
        color="primary"
        routerLink="/mylist"
        routerLinkActive
        #mylist="routerLinkActive"
        matTooltip="自分の投稿"
      >
        <mat-icon [class.active]="mylist.isActive" class="stretched-icon"
          >folder</mat-icon
        >
      </a>
      <a
        class="icons__button"
        mat-icon-button
        color="primary"
        routerLink="/ranking"
        routerLinkActive
        #ranking="routerLinkActive"
        matTooltip="人気の投稿"
      >
        <mat-icon [class.active]="ranking.isActive" class="stretched-icon"
          >whatshot</mat-icon
        >
      </a>
    </div>
    <button
      class="avatar"
      mat-mini-fab
      [matMenuTriggerFor]="menu"
      [style.background-image]="avatarURL && 'url(' + avatarURL + ')'"
      [style.background-image]="
        !avatarURL && 'url(' + user.photoURL.replace('_normal', '') + ')'
      "
    ></button>
    <mat-menu #menu="matMenu">
      <button (click)="logout()" mat-menu-item>
        <mat-icon> exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/setting">
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </button>
      <button mat-menu-item routerLink="/intl/help">
        <mat-icon>help</mat-icon>
        <span>ヘルプ</span>
      </button>
    </mat-menu>
  </div>
  <ng-template #default>
    <button
      (click)="login()"
      [disabled]="isLoading"
      *ngIf="isUser"
      class="default"
      id="default"
      mat-raised-button
      color="primary"
    >
      ログイン
    </button>
  </ng-template>
</mat-toolbar>
