@import '~@angular/material/theming';

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mat-elevation(1);
  background-color: #fafafa;
  p {
    display: flex;
    align-items: center;
  }
}
.logo {
  height: 60px;
}
.search {
  width: 40%;
  max-width: 800px;
  height: 36px;
  position: relative;
  &__box {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 18px;
    letter-spacing: 0.02em;
  }
  &__icon {
    position: absolute;
    top: 5px;
    right: 20px;
    color: #0d568b;
  }
}
.btn {
  background-color: #0d568b;
  color: white;
}
