@import 'mixins';

.footer {
  height: 120px;
  padding: 100px 0 40px;
  font-size: 1.6rem;
  @include sp {
    padding: 80px 14px 40px;
    white-space: nowrap;
  }
}
ul {
  margin: 0;
  display: flex;
  justify-content: center;
  li {
    &:not(:last-child) {
      margin-right: 30px;
      @include sp {
        margin-right: 24px;
      }
    }
    a {
      display: block;
      color: $main;
    }
  }
}
.myname {
  margin-top: 48px;
  text-align: center;
  color: $main;
  a {
    color: inherit;
    font-weight: bold;
  }
}
