<div class="container">
  <h2 class="heading">利用規約</h2>
  <div class="tos">
    <ul>
      <li>
        本規約は、<a href="https://twitter.com/uotya" target="_blank"
          >おちゃマル</a
        >（以下、「当社」といいます）が提供するウェブサイト「リンク集メーカーMIRU」または関連するアプリケーション（以下、総称して「本サービス」といいます）を利用する際に適用されます。ご利用の前に本規約の内容をよくお読みください。
      </li>
    </ul>

    <h3>第1条（定義）</h3>
    <ul>
      <li>
        1．利用者は、本規約の定めに従って本サービスを利用しなければなりません。利用者は、本規約に有効かつ取消不能な同意をしないかぎり本サービスを利用できません。
      </li>
      <li>
        2．利用者が未成年者である場合は、親権者など法定代理人の同意を得たうえで本サービスを利用してください。
      </li>
      <li>
        3．利用者は、本サービスを実際に利用することによって本規約に有効かつ取消不能な同意をしたものとみなされます。
      </li>
    </ul>

    <h3>第2条（情報の取り扱い）</h3>
    <ul>
      <li>
        1．利用者は、本サービスの利用に際して利用者ご本人に関する情報を当社に対して提供する場合、真実、正確かつ完全な情報を提供しなければなりません。
      </li>
      <li>
        2．利用者は、本サービスの利用に際して登録するパスワードを不正に利用されないよう自らの責任で厳重に管理しなければなりません。当社は、登録されたパスワードを利用して行なわれた一切の行為を、利用者ご本人の行為とみなすことができます。
      </li>
    </ul>

    <h3>第3条 (禁止事項)</h3>
    <ul>
      <li>
        利用者は、本サービスの利用に際して、以下に記載することを行なってはならず、また、以下の記載事項を行わないことを保証します。
      </li>
      <li>
        （1）法令、裁判所の判決、決定もしくは命令、または法令上拘束力のある行政措置に違反する行為。
      </li>
      <li>
        （2）当社または第三者の権利（著作権、商標権、特許権等の知的財産権、名誉権、プライバシー権、その他法令上または契約上の権利を広く含みます。）を侵害する行為。
      </li>
      <li>
        （3）当社または第三者になりすます行為または意図的に虚偽の情報を流布させる行為。
      </li>
      <li>
        （4）反社会的勢力に対する利益供与その他の協力行為。
      </li>
      <li>
        （5）宗教活動または宗教団体への勧誘行為。
      </li>
      <li>
        （6）許諾なく第三者の個人情報、登録情報、利用履歴情報などを収集、開示または提供する行為。
      </li>
      <li>
        （7）当社による本サービスの運営または他の利用者による本サービスの利用を妨害し、これらに支障を与える行為。
      </li>
      <li>
        （8）上記（1）から（7）のいずれかに該当する行為を援助または助長する行為。
      </li>
      <li>
        （9）その他、当社が不適当と判断した行為
      </li>
    </ul>

    <h3>第4条（コンテンツの取扱い）</h3>
    <ul>
      <li>
        1．本規約において、「コンテンツ」とは、文章、音楽、画像、動画、プログラム、コードその他の情報のことをいい、「本コンテンツ」とは、本サービスを通じてアクセスすることができるコンテンツのことをいい、「投稿コンテンツ」とは、利用者が本サービスに投稿、送信、アップロードするなどして当社の管理するサーバに保存させたコンテンツのことをいい、「公開投稿コンテンツ」とは、本サービスにおいて、他の利用者一般による閲覧またはアクセスが可能な投稿コンテンツのことをいいます。
      </li>
      <li>
        2．利用者は、公開投稿コンテンツを含むすべての投稿コンテンツに対して有する権利を従前どおり保持し、当社がかかる権利を取得することはありません。ただし、利用者は、本サービスの利用により、当社に対し、公開投稿コンテンツを利用する権利（営利目的の有無を問わず、複製、上演、演奏、上映、公衆送信、公衆伝達、口述、展示、頒布、譲渡、貸与、翻訳、翻案、（当社が事業目的上必要とみなす範囲で）改変する権利を含みます。また、これらの権利を第三者に再許諾する権利を含みます。）を無償でかつ無期限に、地域の限定なく許諾したこととなり、当社はかかる利用権を取得します。この場合、利用者は、公開投稿コンテンツに関する著作者人格権を当社または当社の指定する第三者による上記範囲での利用に対して行使しないことにも同意したこととなります。
      </li>
      <li>
        3．利用者は、本コンテンツを、本サービスが当然に予定している利用態様を超えて利用（複製、送信、転載、改変などの行為を含みます。）してはなりません。ただし、当社および本コンテンツの権利者から事前の承諾を受けた場合はこの限りではありません。
      </li>
      <li>
        4．当社は、法令または本規約の遵守状況などを確認する必要がある場合、投稿コンテンツの内容を確認することができます。ただし、当社はかかる確認を行なう義務を負うものではありません。
      </li>
      <li>
        5．当社は、利用者が投稿コンテンツなどに関し法令もしくは本規約に違反しまたは違反するおそれのあると当社が認めた場合、その他業務上の必要性がある場合には、あらかじめ利用者に通知することなく、当社の管理するサーバから投稿コンテンツを削除するなどの方法により、本サービスまたは投稿コンテンツを利用できないようにすることができます。そのため、利用者は常に投稿コンテンツのバックアップを作成しておくことが推奨されます。
      </li>
    </ul>

    <h3>第5条（当社に対する補償）</h3>
    <ul>
      <li>
        1．利用者は、利用者が法令または本規約に違反して本サービスを利用したことに起因して（かかる趣旨のクレームを第三者より当社が受けた場合を含みます。）、当社が直接的もしくは間接的に何らかの損害、損失または費用負担（弁護士費用の負担を含みます。）を被った場合、当社の請求にしたがって直ちにこれを賠償または補償しなければなりません。
      </li>
    </ul>

    <h3>第6条（本サービスの提供、無保証、変更、中止）</h3>
    <ul>
      <li>
        1．利用者は、本サービスを利用するにあたり、必要なパーソナルコンピュータ、携帯電話機、通信機器、オペレーションシステム、通信手段および電力などを、利用者の費用と責任で用意しなければなりません。
      </li>
      <li>
        2．当社は、本サービスに当社または第三者の広告を掲載することができるものとします。
      </li>
      <li>
        3．当社は、当社が必要と判断する場合、あらかじめ利用者に通知することなく、いつでも、本サービスの全部または一部の内容を変更し、また、その提供を中止することができるものとします。
      </li>
      <li>
        4．当社は、本サービス（本コンテンツを含みます。）に事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みますが、これらに限りません。）がないことを保証しておりません。当社は、利用者に対して、かかる瑕疵を除去して本サービスを提供する義務を負いません。ただし、有償で提供される本サービスに関する当社と利用者との間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合、当該本サービスの隠れた瑕疵により利用者に生じた損害を賠償する当社の責任の全部を免除するものではありません。この場合の損害の賠償については、第7条第2項を準用します。
      </li>
      <li>
        5．当社は、利用者が本規約に違反して本サービスを利用していると認めた場合、当社が必要かつ適切と判断する措置を講じます。ただし、当社は、利用者および第三者に対して、利用者その他の者が本規約に違反しないことを保証するものではありません。また、当社は、利用者および第三者に対して、かかる違反を防止または是正する義務を負いません。
      </li>
    </ul>

    <h3>第7条（当社の責任の免除）</h3>
    <ul>
      <li>
        1．当社は、本サービスに起因して利用者に生じたあらゆる損害について一切の責任を負いません。ただし、本サービスに関する当社と利用者との間の契約（本規約を含みます。）が消費者契約法に定める消費者契約となる場合、本項の免責規定は適用されません。
      </li>
      <li>
        2．前項ただし書に定める場合であっても、当社は、当社の過失（重過失を除きます。以下、本項において同じ。）による債務不履行または不法行為により利用者に生じた損害のうち特別な事情から生じた損害（当社または利用者が損害発生につき予見し、または予見し得た場合を含みます。）について一切の責任を負いません。また、当社の過失による債務不履行または不法行為により利用者に生じた損害の賠償は当該利用者が当該本サービスの利用に際して当該損害が発生した月に費消した回線費用の金額を上限とします。
      </li>
    </ul>

    <h3>第8条（退会、利用停止等）</h3>
    <ul>
      <li>
        本サービスに会員登録した利用者は、いつでもアカウントを削除して退会することができます。この場合、当社が保有する利用者ご本人に関する情報は、個人情報保護法その他の関連法規に従い処理されます。なお、第4条第2項に基づき当社が取得した公開投稿コンテンツの利用権は、利用者の退会後も有効に存続します。
      </li>
      <li>
        当社は、利用者が本規約に違反しまたは違反するおそれがあると認めた場合、あらかじめ利用者に通知することなく、アカウントを停止または廃止することができます。
      </li>
      <li>
        他の事業者が提供するアカウント（以下「他社アカウント」といいます。）で本サービスにログインする利用者は、当該他社アカウントが削除される等により、当該他社アカウントがこれを提供する事業者によって認証されなくなった場合、当該他社アカウントにより本サービスにログインして、本サービスを利用することはできなくなりますのでご注意ください。
      </li>
    </ul>

    <h3>第9条（本規約等の変更）</h3>
    <ul>
      <li>
        当社は、当社が必要と判断する場合、あらかじめ利用者に通知することなく、いつでも、本規約および個別利用規約を変更できるものとします。変更後の本規約および個別利用規約は、当社が運営するウェブサイト内の適宜の場所に掲示された時点からその効力を生じるものとし、利用者は本規約および個別利用規約の変更後も本サービスを使い続けることにより、変更後の本規約および適用のある個別利用規約に対する有効かつ取消不能な同意をしたものとみなされます。かかる変更の内容を利用者の皆様に個別に通知することはいたしかねますので、本サービスをご利用の際には、随時、最新の本規約および適用のある個別利用規約をご参照ください。
      </li>
    </ul>
    <h3>第10条（準拠法、裁判管轄）</h3>
    <ul>
      <li>
        本規約は日本語を正文とし、その準拠法は日本法とします。本サービスに起因または関連して利用者と当社との間に生じた紛争については東京地方裁判所または東京簡易裁判所を第一審の専属的合意管轄裁判所とします。かかる管轄裁判所で得られた勝訴判決は、いずれの国の裁判所においても執行可能とします。
      </li>
    </ul>
    <p class="date">2020年1月29日 発効</p>
  </div>
</div>
