<div class="container" *ngIf="article">
  <img
    [src]="article.thumbnailURL"
    alt=""
    class="thumbnail"
    (error)="setDefaultThumbnail()"
  />
  <div class="title">
    <h1>{{ article.title }}</h1>
    <p class="pre-wrap">{{ article.description }}</p>
  </div>
  <div class="details">
    <div class="user">
      <a
        mat-icon-button
        class="user__avatar"
        [routerLink]="['/user']"
        [queryParams]="{ id: article.author.uid }"
      >
        <img
          *ngIf="article.author.avatarURL"
          [src]="article.author.avatarURL"
          alt=""
          (error)="updateAvatar()"
        />
      </a>
      <a
        mat-button
        class="user__name"
        [routerLink]="['/user']"
        [queryParams]="{ id: article.author.uid }"
        >{{ article.author.userName }}</a
      >
    </div>
    <div
      class="update"
      matTooltip="{{
        article.createdAt.toDate() | date: 'yyyy年MM月dd日'
      }}に投稿"
    >
      <mat-icon>update</mat-icon>
      <p>{{ article.updatedAt.toDate() | date: 'yyyy年MM月dd日' }}に更新</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="contents" *ngFor="let content of article.links; let i = index">
    <div class="contents__content">
      <div class="flex">
        <span class="number">{{ i + 1 }}</span>
        <ng-container *ngIf="isLink(content.link); else notLink">
          <mat-card class="contents__content--link isLink">
            <a [href]="content.link" target="_blank">
              <div
                *ngIf="content.faviconURL; else defaultIcon"
                class="favicon"
                [style.background-image]="'url(' + content.faviconURL + ')'"
              ></div>
              <ng-template #defaultIcon>
                <mat-icon class="default-icon">find_in_page</mat-icon>
              </ng-template>
              <p *ngIf="content.ogTitle; else defaultTitle" class="og-title">
                {{ content.ogTitle }}
              </p>
              <ng-template #defaultTitle>
                <p class="og-title">{{ content.link }}</p>
              </ng-template>
            </a>
          </mat-card>
          <button
            matTooltip="リンクのコピー"
            class="copy"
            mat-icon-button
            ngxClipboard
            [cbContent]="content.link"
            (cbOnSuccess)="copied()"
          >
            <mat-icon>link</mat-icon>
          </button>
        </ng-container>
        <ng-template #notLink>
          <div class="contents__content--link text">
            <p>{{ content.link }}</p>
          </div>
        </ng-template>
      </div>
      <div *ngIf="content.comment" class="contents__content--comment pre-wrap">
        <p>{{ content.comment }}</p>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>

  <div class="actions">
    <button
      mat-icon-button
      class="actions__favorite"
      (click)="clickedLike(article)"
      [class.liked]="isLiked"
      matTooltip="いいね"
    >
      <ng-container *ngIf="isLiked; else default">
        <mat-icon class="liked">favorite</mat-icon>
        <span>{{ favorite }}</span>
      </ng-container>
      <ng-template #default>
        <mat-icon class="default">favorite_border</mat-icon>
        <span>{{ favorite }}</span>
      </ng-template>
    </button>
    <div class="actions__share">
      <button
        matTooltip="記事のリンクをコピー"
        class="actions__share--copy"
        mat-icon-button
        ngxClipboard
        cbContent="https://miru.page/article/{{ article.articleId }}"
        (cbOnSuccess)="copied()"
      >
        <mat-icon>link</mat-icon>
      </button>
      <a
        mat-icon-button
        class="actions__share--twitter"
        matTooltip="Twitterでシェア"
        href="https://twitter.com/share?url=https://miru.page/article/{{
          article.articleId
        }}/&text={{ article.title }}"
        rel="nofollow"
        target="_blank"
      >
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </div>
  <button
    *ngIf="isMyArticle"
    [routerLink]="['/article/edit']"
    [queryParams]="{ id: article.articleId }"
    mat-raised-button
    class="edit"
  >
    この記事を編集する
  </button>
</div>
