:host {
  text-align: center;
}
h1 {
  font-size: 3.2rem;
}
.share {
  margin-top: 48px;
  a {
    background-color: #75c4ff;
    color: white;
    font-weight: bold;
  }
}
button {
  margin-top: 24px;
}
