@import 'mixins';

.top {
  text-align: center;
  h1 {
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0 auto;
    max-width: 800px;
    font-size: 3.2rem;
    letter-spacing: 0.02em;
    line-height: 2;
    position: relative;
    color: #376c91;
    @include tab {
      font-size: 26px;
    }
    @include sp {
      font-size: 20px;
    }
    span {
      display: block;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
    }
  }
  .btn {
    margin-top: 70px;
    font-size: 2.4rem;
    letter-spacing: 0.03em;
    font-weight: bold;
    padding: 20px 30px;
    border-radius: 12px;
    border-bottom: solid 5px #093f66;
    @include tab {
      padding: 15px 25px;
    }
    @include sp {
      padding: 13px 23px;
    }
  }
}
