.top {
  text-align: center;
  padding-top: 80px;
  h1 {
    font-family: 'M PLUS 1p', sans-serif;
    margin: 0 auto;
    max-width: 800px;
    font-size: 3.2rem;
    letter-spacing: 0.02em;
    line-height: 2;
    position: relative;
    color: #376c91;
    @media screen and (max-width: 959px) {
      font-size: 26px;
    }
    @media screen and (max-width: 559px) {
      font-size: 20px;
    }
    span {
      display: block;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
    }
  }
  button {
    margin-top: 70px;
    font-size: 2.4rem;
    letter-spacing: 0.03em;
    font-weight: bold;
    color: white;
    background-color: #0d568b;
    padding: 20px 30px;
    border-radius: 12px;
    border-bottom: solid 5px #093f66;
    @media screen and (max-width: 959px) {
      padding: 15px 25px;
    }
    @media screen and (max-width: 559px) {
      padding: 13px 23px;
    }
  }
}
.ranking {
  text-align: center;
  padding: 60px 0 20px;
  h2 {
    font-size: 2.6rem;
    letter-spacing: 0.04em;
    color: #3d4a57;
    position: relative;
    display: block;
    &:before {
      content: '';
      position: absolute;
      bottom: -30px;
      display: inline-block;
      width: 60px;
      height: 5px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #3d4a57;
      border-radius: 2px;
    }
  }
}
.cards {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr));
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
  /*
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -30px -15px 0;
  */
}
