// color
$black: #3d4a57;

// size
$sp: 559px;
$tab: 959px;

// mixins
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin head {
  text-align: center;
  font-size: 2.6rem;
  letter-spacing: 0.04em;
  color: $black;
  position: relative;
  display: block;
  &:before {
    content: '';
    position: absolute;
    bottom: -30px;
    display: inline-block;
    width: 60px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #3d4a57;
    border-radius: 2px;
  }
}
@mixin button-color {
  background-color: #0d568b;
  color: white;
}
