@import 'mixins';

.help {
  max-width: 600px;
  margin: 100px auto 0;
  line-height: 1.8;
  letter-spacing: 0.01em;
  font-size: 1.8rem;
}
h3 {
  margin-top: 48px;
  font-size: 2.4rem;
  text-align: center;
}
img {
  width: 50%;
  display: block;
  margin: 32px auto 0;
  @include sp {
    width: 70%;
  }
}
p {
  margin-top: 32px;
  text-align: center;
}
.tap-container {
  margin-top: 40px;
}
