@import 'mixins';
@import '~@angular/material/theming';

form {
  margin-top: 80px;
  padding: 48px 8px;
  background: linear-gradient(to bottom, #d5dee7 0%, #e8ebf2 50%, #e2e7ed 100%),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02) 50%,
      rgba(255, 255, 255, 0.02) 61%,
      rgba(0, 0, 0, 0.02) 73%
    ),
    linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-blend-mode: normal, color-burn;
  @include mat-elevation(3);
  border-radius: 20px;
}
mat-form-field,
button {
  display: block;
}
input,
textarea {
  color: $black;
  line-height: 1.4;
}
.title {
  &__content {
    font-size: 1.8rem;
    font-weight: bold;
  }
  &__description {
    font-size: 1.7rem;
  }
}
.section {
  &__content {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__description {
    font-size: 1.6rem;
  }
}
mat-divider {
  margin-top: 40px;
  margin-bottom: 40px;
  border-width: 3px;
}
.actions {
  display: flex;
  justify-content: flex-end;
  button {
    width: 34px;
    height: 34px;
    line-height: 0;
    background-color: $black;
  }
  mat-icon {
    color: white;
    font-size: 24px;
  }
  .remove {
    margin-left: 20px;
  }
}
.submit {
  margin: 50px auto 0;
  font-size: 1.6rem;
  padding: 4px 20px;
}
.buttons {
  text-align: center;
  margin-top: 50px;
  &__button {
    display: inline-block;
    font-size: 1.4rem;
    padding: 4px 20px;
    &:not(:last-child) {
      margin-right: 24px;
    }
    @include sp {
      padding: 4px 16px;
    }
  }
}
mat-spinner {
  margin: 48px auto 0;
}
