:host {
  min-height: 100vh;
  // mobile viewport bug fix
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
}
.container {
  display: flex;
  justify-content: center;
  mat-spinner {
    margin-top: 80px;
  }
}
