<mat-card class="card">
  <mat-card-header>
    <div
      mat-card-avatar
      class="avatar"
      [style.background-image]="
        'url(' + card.avatarURL.replace('_normal', '') + ')'
      "
    ></div>
    <mat-card-title class="name">{{ card.userName }}</mat-card-title>
  </mat-card-header>
  <p class="title">
    {{ card.title }}
  </p>
  <img class="thumb" [src]="card.thumbURL" mat-card-image alt="" />
  <div class="actions">
    <button mat-icon-button class="actions__action actions__action--share">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="actions__action actions__action--favorite">
      <mat-icon>favorite_border</mat-icon>
      <span>{{ card.favorite }}</span>
    </button>
  </div>
</mat-card>
