<mat-card class="card">
  <mat-card-header>
    <div
      mat-card-avatar
      class="avatar"
      [style.background-image]="'url(' + card.author.avatarURL + ')'"
      [routerLink]=""
    ></div>
    <mat-card-title class="name" [routerLink]="">{{
      card.author.userName
    }}</mat-card-title>
  </mat-card-header>
  <div [routerLink]="card.articleId">
    <p class="title">
      {{ card.title }}
    </p>
    <img class="thumb" [src]="card.thumbnailURL" mat-card-image alt="" />
  </div>
  <div class="actions">
    <button
      mat-icon-button
      class="actions__action actions__action--share"
      [routerLink]=""
    >
      <mat-icon>share</mat-icon>
    </button>
    <button
      (click)="clickedLike(card)"
      [class.liked]="isLiked"
      mat-icon-button
      class="actions__action actions__action--favorite"
      [routerLink]=""
    >
      <ng-container *ngIf="isLiked; else default">
        <mat-icon class="liked">favorite</mat-icon>
      </ng-container>
      <ng-template #default>
        <mat-icon class="default">favorite_border</mat-icon>
      </ng-template>
      <span>{{ favorite }}</span>
    </button>
  </div>
</mat-card>
