@import 'mixins';

.ranking {
  text-align: center;
  padding-top: 90px;
  h2 {
    font-size: 2.6rem;
    letter-spacing: 0.04em;
    color: $black;
    position: relative;
    display: block;
    &:before {
      content: '';
      position: absolute;
      bottom: -30px;
      display: inline-block;
      width: 60px;
      height: 5px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #3d4a57;
      border-radius: 2px;
    }
  }
}
.cards {
  padding-top: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
}
