<div class="container">
  <h2 class="heading">設定</h2>
  <div class="settings" *ngIf="user$ | async as user">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="プロフィール">
        <div class="tab-container">
          <h3>プロフィール</h3>
          <div class="section">
            <p class="section__title">名前の変更</p>
            <p class="section__name">{{ user.userName }}</p>
            <mat-form-field appearance="fill">
              <mat-label>新しい名前</mat-label>
              <input matInput [formControl]="nameForm" required />
              <mat-error *ngIf="nameForm.hasError('required')"
                >必須入力です</mat-error
              >
              <mat-error *ngIf="nameForm.hasError('maxlength')">
                長すぎます
              </mat-error>
            </mat-form-field>
            <button
              class="section__button"
              (click)="changeUserName()"
              mat-flat-button
              color="primary"
              [disabled]="nameForm.invalid"
            >
              変更する
            </button>
          </div>
          <div class="section">
            <p class="section__title">アバターの変更</p>
            <img class="section__avatar" [src]="user.avatarURL" alt="" />
            <input
              (change)="fileChangeEvent($event)"
              type="file"
              class="section__selecter"
              accept=".png, .jpg, .jpeg"
              #imageSelecter
            />
            <image-cropper
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="1 / 1"
              format="png"
              (imageCropped)="imageCropped($event)"
              (loadImageFailed)="loadImageFailed()"
              width="300px"
              height="300px"
              [class.active]="imageChangedEvent"
            ></image-cropper>
            <button
              class="section__button"
              [disabled]="!croppedImage"
              (click)="changeAvatar(imageSelecter)"
              mat-flat-button
              color="primary"
            >
              変更する
            </button>
            <button
              class="section__button"
              *ngIf="imageChangedEvent"
              mat-button
              (click)="resetInput(imageSelecter)"
            >
              キャンセル
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="決済情報">
        <div class="tab-container">
          <h3>決済情報</h3>
          <div class="section">
            <p class="section__title">クレジットカード</p>
            <p class="section__description">
              クレジットカードは世界的な決済サービスStripeによって厳重に保管されており、漏洩の心配はありません。
            </p>
            <ng-container *ngIf="card$ | async as card; else register">
              <div class="user-card">
                <p>
                  <i
                    class="fab fa-cc-{{
                      card.card.brand.toLowerCase() === 'american express'
                        ? 'amex'
                        : card.card.brand.toLowerCase()
                    }}"
                  ></i>
                  **** **** **** {{ card.card.last4 }}
                </p>
                <button
                  mat-flat-button
                  color="primary"
                  (click)="registerCard()"
                >
                  変更する
                </button>
              </div>
              <div class="payment-history">
                <p class="section__title">決済履歴</p>
                <ng-container
                  *ngIf="histories$ | async as histories; else none"
                >
                  <mat-list>
                    <mat-list-item *ngFor="let history of histories">
                      <mat-icon mat-list-icon>payment</mat-icon>
                      <h4 mat-line>{{ history.amount }} 円</h4>
                      <p mat-line>
                        {{
                          history.paymentDate.toDate() | date: 'yyyy年MM月dd日'
                        }}
                      </p>
                    </mat-list-item>
                  </mat-list>
                </ng-container>
                <ng-template #none>
                  <p class="none">まだありません</p>
                </ng-template>
              </div>
            </ng-container>
            <ng-template #register>
              <button
                class="section__button"
                (click)="registerCard()"
                mat-flat-button
                color="primary"
              >
                カードを登録する
              </button>
            </ng-template>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="退会">
        <div class="tab-container">
          <h3>退会</h3>
          <div class="section">
            <p class="section__description">
              退会するとすべてのデータが削除されます
            </p>
            <button
              class="section__button"
              (click)="deleteAccount()"
              mat-flat-button
              color="primary"
            >
              退会する
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
