@import 'mixins';

h1 {
  text-align: center;
  margin-top: 10px;
  color: $main;
  font-weight: bold;
  font-size: 2rem;
}
.content {
  margin-top: 30px;
  text-align: center;
  mat-icon {
    padding-right: 14px;
    font-size: 4.8rem;
    color: #e53935;
  }
}
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
