@import 'mixins';

h1 {
  text-align: center;
  margin-top: 10px;
  color: $black;
  font-weight: bold;
  font-size: 2rem;
}
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
