// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$miru-primary: mat-palette($mat-indigo, 200);
$miru-accent: mat-palette($mat-blue-grey, 600);
// The warn palette is optional (defaults to red).
$miru-warn: mat-palette($mat-red, 300);

// Create the theme object (a Sass map containing all of the palettes).
$miru-theme: mat-light-theme($miru-primary, $miru-accent, $miru-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($miru-theme);

/* You can add global styles to this file, and also import other style files */
@import 'reset';
@import 'mixins';

html {
  height: 100%;
  font-size: 62.5%;
  @include tab {
    font-size: 56%;
  }
  @include sp {
    font-size: 49%;
  }
}
body {
  height: 100%;
  margin: 0 auto;
  font-family: 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic',
    'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background-color: #fff;
  color: #0d568b;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 150px 24px 0;
  @include sp {
    padding: 200px 16px 0;
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
  justify-content: center;
  margin: 90px auto 0;
  gap: 30px;
  text-align: center;
}
