<div class="container">
  <h2 class="heading">特定商取引法に基づく表示</h2>
  <div class="legal">
    <h3>事業者名</h3>
    <p content="noindex">川口 遥</p>
    <h3>住所</h3>
    <p content="noindex">東京都西多摩郡瑞穂町石畑1827-4</p>
    <h3>連絡先</h3>
    <p content="noindex">
      <a href="https://twitter.com/uotya" target="_blank">Twitter</a><br />
      otyagreen@gmail.com<br />
      070-1065-1523<br />
      ※電話でのお問い合わせは受け付けておりません。
    </p>
    <h3>料金</h3>
    <p>各記事内でお客様が自由に設定する金額です。</p>
    <h3>その他、お客様に発生する金銭</h3>
    <p>ご利用の際に必要となる通信料はお客様のご負担となります。</p>
    <h3>支払い方法</h3>
    <div>
      クレジットカード決済（Stripe）のみとなります。<br />
      <p>
        <a href="https://stripe.com/jp" target="_blank"
          >ストライプジャパン株式会社</a
        >
        （以下、Stripe社）が提供する決済システム「Stripe」を利用します。Stripeの利用条件、引き落とし時期及びその他Stripeに関する事項は、Stripe社が定める規約によるものとします。
      </p>
    </div>
    <h3>支払時期</h3>
    <p>ご利用のカード会社の引き落とし日となります。</p>
    <h3>返金について</h3>
    <p>基本的には返金には応じません。</p>
  </div>
</div>
